.recipe-card-image {
    height: 30vh;
    object-fit: cover;
}

.recipe-card-image:hover {
    opacity: 0.7;
    transition: .5s ease;
}

.recipe-card-title:hover {
    color: #dc3545;
    transition: .5s ease;
}