.welcome-container {
    /* background: linear-gradient( rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05) ), url('../../assets/rb_2150020921.png'); */

    background-image: url('../../assets/rb_2150020921.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}